<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Arquitetura Orientada a Componentes com AngularJS</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Arquitetura Orientada a Componentes</h2>
					<div>
						<a href="https://docs.angularjs.org/guide/component">
							<img src="img/angularjs.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent">
						</a>
					</div>
					<a href="http://guiseek.js.org">@guiseek</a>
				</section>
				<section>
					<section>
						<h2>Web Components</h2>
					</section>
					<section>
						<p>Component-based software engineering (<strong>CBSE</strong>)</p>
						<p>Component-based development (<strong>CBD</strong>)</p>
						<p>Event-driven architectures (<strong>EDA</strong>)</p>
						<aside class="notes">
              Citada a primeira vez por Malcolm Douglas McIlroy na NATO Conf, em 1968, na talk Mass Produced Software Components (Componentes de software produzidos em massa).
						</aside>
					</section>
          <section>
            <h4>Malcolm Douglas McIlroy</h4>
            <img src="img/mcilroy.jpeg" alt="">
          </section>
          <section>
            <h3>Primeira implementação</h3>
            <p>No <strong>Unix</strong> como <strong>Pipelines</strong></p>
						<aside class="notes">
							<ol>
								<li>
                  Sequência de processos encadeados.
								</li>
								<li>
                  Cada saída de processo alimenta a entrada para o próximo.
								</li>
							</ol>
						</aside>
          </section>
          <section>
            <h3>O termo <strong>Web Components</strong></h3>
            <h3>Lembram do Ajax?!</h3>
            <p>AJAX = <strong>A</strong>synchronous <strong>J</strong>avaScript <strong>A</strong>nd <strong>X</strong>ML</p>
            <aside class="notes">
              Nova coleção de recursos que, quando utilizados juntos permitem o dev criar componentes reutilizáveis de modo padrão.
            </aside>
          </section>
          <section>
            <h2>Por que usar?</h2>
          </section>
					<section>
						<h3>Reutilização</h3>
						<aside class="notes">
							Abordagem baseada na reutilização para definir, implementar e compor componentes independentes ligeiramente acoplados.
						</aside>
					</section>
					<section>
						<h3>Separação de responsabilidades</h3>
            <aside class="notes">
							Benefícios de curto e longo prazo para o software e organizações que o patrocinam.
            </aside>
					</section>
          <section>
            <h2>Não é apenas JavaScript</h2>
          </section>
					<section>
            <h3>Camadas</h3>
						<ul>
							<li>
								Templates
							</li>
							<li>
								Decorators
							</li>
							<li>
								Custom elements
							</li>
							<li>
								Shadow DOM
							</li>
							<li>
								Imports
							</li>
						</ul>
					</section>
					<section>
						<h2>Templates</h2>
						<aside class="notes">
							View (HTML e CSS) e lógica de integração.
						</aside>
					</section>
					<section>
						<h2>Decorators</h2>
						<aside class="notes">
							Comportamento individual, estático ou visual, sem afetar comportamentos de outros elementos.
						</aside>
					</section>
					<section>
						<h2>Custom elements</h2>
						<aside class="notes">
							Nomes e scripts criados pelo desenvolvedor.
						</aside>
					</section>
					<section>
						<h2>Shadow DOM</h2>
						<aside class="notes">
							Parte do código encapsulada e escondida pelo navegador.
						</aside>
					</section>
					<section>
						<h2>Imports</h2>
						<aside class="notes">
							Custom elements empacotados e lidos como recurso.
						</aside>
					</section>
					<section>
						<h1>Ciclo de vida</h1>
						<aside class="notes">
							Ganchos
						</aside>
					</section>
					<section>
						<ul>
							<li>
								<code>createdCallback</code>
							</li>
							<li>
								<code>attachedCallback</code>
							</li>
							<li>
								<code>detachedCallback</code>
							</li>
							<li>
								<code>attributeChangedCallback</code>
							</li>
						</ul>
						<aside class="notes">
							<ol>
								<li>
									createdCallback: instância é criada.
								</li>
								<li>
									attachedCallback: elemento é anexado ao DOM.
								</li>
								<li>
									detachedCallback: elemento é removido do DOM.
								</li>
								<li>
									attributeChangedCallback: atributo do elemento é alterado. Callback com 3 args, nome, oldValue e newValue.
								</li>
							</ol>
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>AngularJS .Component</h2>
					</section>
					<section>
						<h3>Compreendendo</h3>
						<ul>
							<li>
								Configuração simples e adequada para uma estrutura baseada em componentes.
							</li>
							<li>
								Facilita a escrita de uma aplicação de forma semelhante à utilização de Web Components.
							</li>
						</ul>
					</section>
					<section>
						<h3>Vantagens</h3>
						<ul>
							<li>
								Configuração simples
							</li>
							<li>
								Promove padrões e práticas recomendadas
							</li>
							<li>
								Otimizado para arquitetura baseada em componentes
							</li>
						</ul>
					</section>
					<section>
						<h3>Criando e configurando</h3>
						<p>
							Registrado usando o método <code>.component()</code> retornado de um <code>angular.module()</code> já definido.
						</p>
						<p>O método <code>.component()</code> requer 2 argumentos:</p>
						<ul>
							<li>
								O nome do componente como <code>string</code>
							</li>
							<li>
								O objeto de configuração como <code>object</code>
							</li>
						</ul>
					</section>
					<section>
						<h3>Exemplo <i>(component)</i></h3>
						<pre><code class="javascript" data-trim>
let search = {
  bindings: {
    search: '<',
    onUpdate: '&',
    onClear: '&'
  },
  templateUrl: './search.html',
  controller: 'SearchController'
}

angular
  .module('components.search')
  .component('search', search)
						</code></pre>
					</section>
					<section>
						<h3>Exemplo <i>(template)</i></h3>
						<pre><code class="html" data-trim>
<div class="navbar">
  <div class="input-group">
    <span class="input-group-addon" id="search">
      <i class="glyphicon glyphicon-search"></i>
    </span>
    <input
      ng-change="$ctrl.updateSearch()"
      ng-model="$ctrl.search"
			type="text"
			class="form-control"
      placeholder="Buscar...">
    <span class="input-group-btn">
      <button ng-click="$ctrl.clear()" ng-disabled="!$ctrl.search.length" type="button" class="btn btn-default">
        <i class="glyphicon glyphicon-remove" ng-class="{'text-warning': $ctrl.search.length}"></i>
      </button>
    </span>
  </div>
</div>
						</code></pre>
					</section>
					<section>
						<h3>Exemplo <i>(controller)</i></h3>
						<pre><code class="javascript" data-trim>
function SearchController() {
  let ctrl = this
  ctrl.updateSearch = () => {
    ctrl.onUpdate({ $event: { search: ctrl.search } })
  }
  ctrl.clear = () => {
    ctrl.onClear({ $event: { search: '' } })
  }
}

angular
  .module('components.search')
  .controller('SearchController', SearchController);

						</code></pre>
					</section>
					<section>
						<h3>Exemplo de uso <i>(template)</i></h3>
						<pre><code class="html" data-trim>
<search
  search="$ctrl.search"
  on-update="$ctrl.updateSearch($event)"
  on-clear="$ctrl.updateSearch($event)">
</search>
<div ng-if="$ctrl.filteredContacts.length" class="row">
  <div ng-repeat="contact in $ctrl.filteredContacts | filter: $ctrl.search" class="col-md-3">
    <contact
      contact="contact"
      on-select="$ctrl.goToContact($event)"
      on-open="$ctrl.openModalContact($event)">
    </contact>
  </div>
</div>
						</code></pre>
					</section>
					<section>
						<h3>Exemplo de uso <i>(controller)</i></h3>
						<pre><code class="javascript" data-trim>
function ContactsController($filter) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.filteredContacts = $filter('contactsFilter')(ctrl.contacts, ctrl.filter)
  }
  ctrl.updateSearch = event => {
    ctrl.search = event.search
  }
}

angular
  .module('components.contact')
  .controller('ContactsController', ContactsController)
						</code></pre>
					</section>
					<section>
						<h3>Opções de configuração</h3>
						<table>
							<tbody>
								<tr>
									<td>bindings</td>
									<td>Ligação com o controller</td>
								</tr>
								<tr>
									<td>controller</td>
									<td>Default: <code>function() {}</code></td>
								</tr>
								<tr>
									<td>controllerAs</td>
									<td>Default: <code>$ctrl</code></td>
								</tr>
								<tr>
									<td>template</td>
									<td>Injetável</td>
								</tr>
								<tr>
									<td>templateUrl</td>
									<td>Injetável</td>
								</tr>
								<tr>
									<td>transclude</td>
									<td>Default <code>false</code></td>
								</tr>
								<tr>
									<td>require</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</section>
				</section>
				<section>
					<section>
						<h2>Aplicação orientada a componentes</h2>
					</section>
					<section>
						<h4>Componentes controlam apenas <br> seus próprios dados e view</h4>
						<aside class="notes">
							Nunca devem modificar quaisquer dados ou DOM que estejam fora do seu próprio âmbito.
						</aside>
					</section>
					<section>
						<h4>Entrada e Saída <i>(bindings)</i></h4>
						<table>
							<tbody>
								<tr>
									<td><code>{prop: '='}</code></td>
									<td>Ligação bidirecional</td>
								</tr>
								<tr>
									<td><code>{prop: '<'}</code></td>
									<td>Ligação unidirecional</td>
								</tr>
								<tr>
									<td><code>{prop: '@'}</code></td>
									<td>Sem ligação</td>
								</tr>
								<tr>
									<td><code>{prop: '&'}</code></td>
									<td>Evento de saída</td>
								</tr>
							</tbody>
						</table>
					</section>
          <section>
            <h3>Estrutura da aplicação</h3>
          </section>
					<section>
            <h4>Componentes comuns</h4>
            <ul>
              <li>app</li>
              <li>app-nav</li>
              <li>app-sidebar</li>
            </ul>
					</section>
					<section>
            <p>Representação amigável</p>
            <img src="img/app.png" alt="">
					</section>
					<section>
            <h4>Componentes</h4>
            <ul>
              <li>auth</li>
              <li>search</li>
              <li>contacts</li>
              <li>contact</li>
              <li>...</li>
            </ul>
					</section>
					<section>
						<h3>Componentes como rotas</h3>
					</section>
					<section>
            <p>Autenticação <i>(auth)</i></p>
            <img src="img/auth.png" alt="">
            <aside class="notes">
              <ul>
                <li>Auth: componente pai</li>
                <li>Login ou Register: decide quais os dados de entrada e recebe eventos de saída</li>
                <li>Auth Form: genérico, serve tanto pra login ou register</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>auth.component.js</code></p>
						<pre><code class="javascript" data-trim>
let auth = {
  templateUrl: './auth.html'
}

angular
  .module('components.auth')
  .component('auth', auth)
  .config(function ($stateProvider, $urlRouterProvider) {
    $stateProvider
      .state('auth', {
        redirectTo: 'auth.login',
        url: '/auth',
        component: 'auth'
      })
    $urlRouterProvider.otherwise('/auth/login')
  })
						</code></pre>
					</section>
					<section>
						<p><code>auth.html</code></p>
						<pre><code class="html" data-trim>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div ui-view></div>
    </div>
  </div>
</div>
						</code></pre>
					</section>
					<section>
            <p>Login</p>
            <img src="img/auth-login.png" alt="">
            <aside class="notes">
              <ul>
                <li>Envia dados caracteristicos de login para o auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
            <p>Eventos de login</p>
            <img src="img/auth-login-events.png" alt="">
            <aside class="notes">
              <ul>
                <li>Troca de informações entre login e auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>login.component.js</code></p>
						<pre><code class="javascript" data-trim>
let login = {
  templateUrl: './login.html',
  controller: 'LoginController'
}

angular
  .module('components.auth')
  .component('login', login)
  .config(function ($stateProvider, $urlRouterProvider) {
    $stateProvider
      .state('auth.login', {
        url: '/login',
        component: 'login'
      })
    $urlRouterProvider.otherwise('/auth/login')
  })
						</code></pre>
					</section>
          <section>
            <p><code>login.controller.js</code></p>
            <pre><code class="javascript" data-trim>
function LoginController(AuthService, $state) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.error = null
    ctrl.user = {
      email: '',
      password: ''
    }
  }
  ctrl.loginUser = event => {
    return AuthService
      .login(event.user)
      .then(() => {
        $state.go('app')
      }, reason => {
        ctrl.error = reason.message
      })
  }
}

angular
  .module('components.auth')
  .controller('LoginController', LoginController)
            </code></pre>
          </section>
					<section>
						<p><code>login.html</code></p>
						<pre><code class="html" data-trim>
<h1>Acesso</h1>
<auth-form
  user="$ctrl.user"
  message="{{ $ctrl.error }}"
  button="Acessar conta"
  reset="Limpar"
  on-submit="$ctrl.loginUser($event);">
</auth-form>
<div class="alert alert-info">
  <i class="glyphicon glyphicon-exclamation-sign"></i>
  <a ui-sref="auth.register">
    Ainda não tem uma conta? Crie uma agora!
  </a>
</div>
            </code></pre>
					</section>
					<section>
            <p>Register</p>
            <img src="img/auth-register.png" alt="">
            <aside class="notes">
              <ul>
                <li>Envia dados caracteristicos de register para o auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
            <p>Eventos de register</p>
            <img src="img/auth-register-events.png" alt="">
            <aside class="notes">
              <ul>
                <li>Troca de informações entre register e auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>register.component.js</code></p>
						<pre><code class="javascript" data-trim>
let register = {
  templateUrl: './register.html',
  controller: 'RegisterController'
}

angular
  .module('components.auth')
  .component('register', register)
  .config(function ($stateProvider) {
    $stateProvider
      .state('auth.register', {
        url: '/register',
        component: 'register'
      })
  })
						</code></pre>
					</section>
          <section>
            <p><code>register.controller.js</code></p>
            <pre><code class="javascript" data-trim>
function RegisterController(AuthService, $state) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.error = null
    ctrl.user = {
      email: '',
      password: ''
    }
  }
  ctrl.createUser = event => {
    return AuthService
      .register(event.user)
      .then(() => {
        $state.go('app')
      }, reason => {
        ctrl.error = reason.message
      })
  }
}

angular
  .module('components.auth')
  .controller('RegisterController', RegisterController)
            </code></pre>
          </section>
					<section>
						<p><code>register.html</code></p>
						<pre><code class="html" data-trim>
<h1>Cadastro</h1>
<auth-form
  user="$ctrl.user"
  message="{{ $ctrl.error }}"
  reset="Limpar"
  button="Criar conta"
  on-submit="$ctrl.createUser($event);">
</auth-form>
<div class="alert alert-info">
  <i class="glyphicon glyphicon-exclamation-sign"></i>
  <a ui-sref="auth.login">
    Já tem uma conta? Faça o login!
  </a>
</div>
            </code></pre>
					</section>
					<section>
            <p>Auth form</p>
            <img src="img/auth-form.png" alt="">
            <aside class="notes">
              <ul>
                <li>Genérico, serve pra login e register</li>
                <li>Apenas recebe entradas de customização e emite evento de submit</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>auth-form.component.js</code></p>
						<pre><code class="javascript" data-trim>
let authForm = {
  bindings: {
    user: '<',
    button: '@',
    reset: '@',
    message: '@',
    onSubmit: '&'
  },
  templateUrl: './auth-form.html',
  controller: 'AuthFormController'
}

angular
  .module('components.auth')
  .component('authForm', authForm)
						</code></pre>
					</section>
          <section>
            <p><code>auth-form.controller.js</code></p>
            <pre><code class="javascript" data-trim>
function AuthFormController() {
  let ctrl = this
  ctrl.$onChanges = changes => {
    if (changes.user) {
      ctrl.user = angular.copy(ctrl.user)
    }
  }
  ctrl.submitForm = () => {
    ctrl.onSubmit({
      $event: {
        user: ctrl.user
      }
    })
  }
}

angular
  .module('components.auth')
  .controller('AuthFormController', AuthFormController)
            </code></pre>
          </section>
					<section>
						<p><code>auth-form.html</code></p>
						<pre><code class="html" data-trim>
<form ng-submit="$ctrl.submitForm()" name="authForm" class="panel panel-default" novalidate>
  <div class="panel-body">
    <div ng-if="$ctrl.message" class="alert alert-danger">
      {{ $ctrl.message }}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        ng-model="$ctrl.user.email"
        type="email"
        name="email"
        id="email"
        class="form-control"
        validate-class="{success: 'has-success', 'error': 'has-error'}"
        autocomplete="off"
        required>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        ng-model="$ctrl.user.password"
        type="password"
        name="password"
        id="password"
        class="form-control"
        validate-class="{success: 'has-success', 'error': 'has-error'}"
        minlength="6"
        required>
    </div>
    <div class="text-right">
      <button class="btn btn-warning" type="reset">
        <i class="glyphicon glyphicon-remove"></i>
        {{ $ctrl.reset }}
      </button>
      <button class="btn btn-info" type="submit" ng-disabled="authForm.$invalid">
        <i class="glyphicon glyphicon-ok"></i>
        {{ $ctrl.button }}
      </button>
    </div>
  </div>
</form>
						</code></pre>
					</section>
					<section>
            <p>Search e contacts</p>
            <img src="img/contacts.png" alt="">
					</section>
					<section>
            <p>Eventos entre search e contacts</p>
            <img src="img/contacts-events.png" alt="">
					</section>
					<section>
            <p>Como acontece...</p>
            <video autoplay loop>
              <source data-src="video/search.mov" type="video/mp4" />
            </video>
					</section>
					<section>
						<h1>Ciclo de vida</h1>
					</section>
					<section>
						<h3>Hooks / Ganchos</h3>
						<ul>
							<li>
								<code>$onInit()</code>
							</li>
							<li>
								<code>$onChanges(changesObj)</code>
							</li>
							<li>
								<code>$doCheck()</code>
							</li>
							<li>
								<code>$onDestroy()</code>
							</li>
							<li>
								<code>$postLink()</code>
							</li>
						</ul>
						<aside class="notes">
							<ol>
								<li>
									$onInit: Código de inicialização
								</li>
								<li>
									$onChanges: Ligações unidirecionais
								</li>
								<li>
									$doCheck: Em cada ciclo digestivo. Bom para agir sobre mudanças
								</li>
								<li>
									$onDestroy: Liberar recursos, timers e manipuladores de eventos
								</li>
								<li>
									$postLink: Elementos e seus filhos forem ligados, configurar manipuladores de DOM
								</li>
							</ol>
						</aside>
					</section>
					<section>
						<p>View Component - New</p>
						<img src="img/contact-new-component.png" alt="">
					</section>
					<section>
						<p><code>contact-new.html</code></p>
						<pre><code class="html">
<contact-detail
  contact="$ctrl.contact"
  on-save="$ctrl.createNewContact($event);">
</contact-detail>
						</code></pre>
					</section>
					<section>
						<p><code>contact-new.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contactNew = {
  templateUrl: './contact-new.html',
  controller: 'ContactNewController'
}
angular
  .module('components.contact')
  .component('contactNew', contactNew)
  .config(function ($stateProvider) {
    $stateProvider
      .state('new', {
        parent: 'app',
        url: '/new',
        component: 'contactNew'
      })
  })
						</code></pre>
					</section>
					<section>
						<p><code>contact-new.controller.js</code></p>
						<pre><code class="javascript">
function ContactNewController(ContactService, $state) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.contact = {
      name: '',
      email: '',
      phone: '',
      job: '',
      location: '',
      social: {
        facebook: '',
        google: '',
        github: '',
        twitter: '',
        linkedin: ''
      },
      tag: 'none'
    }
  }
  ctrl.createNewContact = event => {
    return ContactService
      .createNewContact(event.contact)
      .then(contact => {
        $state.go('contact', {
          id: contact.key
        })
      })
  }
}

angular
  .module('components.contact')
  .controller('ContactNewController', ContactNewController)
						</code></pre>
					</section>
					<section>
						<p>View Component - Edit</p>
						<img src="img/contact-edit-component.png" alt="">
					</section>
					<section>
						<p><code>contact-edit.html</code></p>
						<pre><code class="html">
<contact-detail
  contact="$ctrl.contact"
  on-delete="$ctrl.deleteContact($event)"
  on-update="$ctrl.updateContact($event)">
</contact-detail>
						</code></pre>
					</section>
					<section>
						<p><code>contact-edit.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contactEdit = {
  bindings: {
    contact: '<'
  },
  templateUrl: './contact-edit.html',
  controller: 'ContactEditController'
}

angular
  .module('components.contact')
  .component('contactEdit', contactEdit)
  .config(function ($stateProvider) {
    $stateProvider
      .state('contact', {
        parent: 'app',
        url: '/contact/:id',
        component: 'contactEdit',
        resolve: {
          contact: function ($transition$, ContactService) {
            let key = $transition$.params().id;
            return ContactService.getContactById(key).$loaded();
          }
        }
      })
  })
						</code></pre>
					</section>
					<section>
						<p><code>contact-edit.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactEditController($state, ContactService, $window) {
  let ctrl = this

  ctrl.updateContact = event => {
    return ContactService
      .updateContact(event.contact)
  }
  ctrl.deleteContact = event => {
    let message = `Apagar ${event.contact.name} dos seus contatos?`
    if ($window.confirm(message)) {
      return ContactService
        .deleteContact(event.contact)
        .then(() => {
          $state.go('contacts')
        })
    }
  }
}

angular
  .module('components.contact')
  .controller('ContactEditController', ContactEditController)
						</code></pre>
					</section>
					<section>
						<p>View Component - Detail</p>
						<table>
							<tbody>
								<tr>
									<td>
										<p style="text-align: center">new</p>
										<img src="img/contact-new-component.png" alt="">
									</td>
									<td>
										<p style="text-align: center">edit</p>
										<img src="img/contact-edit-component.png" alt="">
									</td>
								</tr>
							</tbody>
						</table>
						<p style="text-align: center">Reuso de contact detail em new e edit</p>
					</section>
					<section>
						<h5>Mesmo caso do login e register com auth-form</h5>
            <h3>Em new e edit com detail</h3>
            <h4>Agora com <code>/:id</code> na URL</h4>
					</section>
					<section>
						<p><code>contact-detail.html</code></p>
						<pre><code class="html" data-trim>
<div class="contact">
  <form name="contactDetailForm" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <i class="glyphicon glyphicon-alert"></i>
          Os campos obrigatórios estão marcados em amarelo.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 navbar">
        <contact-tag
          tag="$ctrl.contact.tag"
          on-change="$ctrl.tagChange($event);">
        </contact-tag>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div
          class="form-group">
          <label>
            Nome
          </label>
          <input
            type="text"
            name="name"
            class="form-control"
            validate-class="{success: 'has-success', error: 'has-error', warning: 'has-warning'}"
            minlength="8"
            required
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.name">
        </div>
        <div
          class="form-group">
          <label>
            Telefone
          </label>
          <input
            type="tel"
            name="phone"
            class="form-control"
            validate-class="{success: 'has-success', error: 'has-error', warning: 'has-warning'}"
            minlength="8"
            required
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.phone">
        </div>
        <div
          class="form-group">
          <label>
            Email
          </label>
          <input
            type="email"
            name="email"
            class="form-control"
            validate-class="{success: 'has-success', error: 'has-error', warning: 'has-warning'}"
            required
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.email">
        </div>
        <div class="form-group">
          <label>
            Profissão
          </label>
          <input
            type="text"
            name="jobTitle"
            class="form-control"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.job">
        </div>
        <div class="form-group">
          <label>
            Endereço
          </label>
          <input
            type="text"
            name="location"
            class="form-control"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.location">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>
            Facebook
          </label>
          <input
            type="url"
            name="facebook"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.facebook">
        </div>
        <div class="form-group">
          <label>
            Google+
          </label>
          <input
            type="url"
            name="google"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.google">
        </div>
        <div class="form-group">
          <label>
            GitHub
          </label>
          <input
            type="url"
            name="github"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.github">
        </div>
        <div class="form-group">
          <label>
            Twitter
          </label>
          <input
            type="url"
            name="twitter"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.twitter">
        </div>
        <div class="form-group">
          <label>
            LinkedIn
          </label>
          <input
            type="url"
            name="linkedin"
            class="form-control"
            validate-class="{success: 'has-success', 'error': 'has-error'}"
            ng-change="$ctrl.updateContact();"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.linkedin">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 navbar text-right">
        <button class="btn btn-warning" type="reset">
          <i class="glyphicon glyphicon-remove"></i>
          Limpar
        </button>
        <button
          ng-if="$ctrl.isNewContact"
          class="btn btn-success"
          ng-disabled="contactDetailForm.$invalid"
          ng-click="$ctrl.saveContact();">
          <i class="fa fa-check"></i>
          Salvar contato
        </button>
        <button
          ng-if="!$ctrl.isNewContact"
          class="btn btn-danger"
          ng-click="$ctrl.deleteContact();">
          <i class="fa fa-trash-o"></i>
          Apagar contato
        </button>
      </div>
    </div>
  </form>
</div>
						</code></pre>
						<aside class="notes">
							Explicar o ng-if nos botões para comparação de new ou edit
						</aside>
					</section>
					<section>
						<p><code>contact-detail.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contactDetail = {
  bindings: {
    contact: '<',
    onSave: '&',
    onUpdate: '&',
    onDelete: '&'
  },
  templateUrl: './contact-detail.html',
  controller: 'ContactDetailController'
}

angular
  .module('components.contact')
  .component('contactDetail', contactDetail)
						</code></pre>
					</section>
					<section>
						<p><code>contact-detail.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactDetailController() {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.isNewContact = !ctrl.contact.$id
  }
  ctrl.saveContact = () => {
    ctrl.onSave({
      $event: {
        contact: ctrl.contact
      }
    })
  }
  ctrl.updateContact = () => {
    ctrl.onUpdate({
      $event: {
        contact: ctrl.contact
      }
    })
  }
  ctrl.deleteContact = () => {
    ctrl.onDelete({
      $event: {
        contact: ctrl.contact
      }
    })
  }
  ctrl.tagChange = event => {
    ctrl.contact.tag = event.tag
    ctrl.updateContact()
  }
}

angular
  .module('components.contact')
  .controller('ContactDetailController', ContactDetailController)
						</code></pre>
					</section>
					<section>
						<p>View Component - Contacts</p>
						<img src="img/app-lg.png" alt="">
					</section>
					<section>
						<p><code>contacts.html</code></p>
						<pre><code class="html" data-trim>
<search
  search="$ctrl.search"
  on-update="$ctrl.updateSearch($event)"
  on-clear="$ctrl.updateSearch($event)">
</search>
<div class="row" ng-if="$ctrl.filteredContacts.length">
  <div class="col-md-3" ng-repeat="contact in $ctrl.filteredContacts | filter: $ctrl.search">
    <contact
      contact="contact"
      content="half"
      on-select="$ctrl.goToContact($event)"
      on-open="$ctrl.openModalContact($event)">
    </contact>
  </div>
</div>
<div
  class="alert alert-warning"
  ng-if="!$ctrl.filteredContacts.length">
  <i class="glyphicon glyphicon-alert"></i>
  Nenhum contato foi marcado com esta etiqueta ainda...
</div>
<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContact" data-backdrop="false">
  <div class="modal-dialog modal-md" role="document">
    <contact
      contact="$ctrl.contactView"
      content="full"
      on-select="$ctrl.goToContact($event)">
    </contact>
    <div class="text-center">
      <button type="button" class="modal-close btn btn-default pull-right" data-dismiss="modal" aria-label="Close">
        <i class="glyphicon glyphicon-remove text-warning"></i>
      </button>
    </div>
  </div>
</div>
						</code></pre>
						<aside class="notes">
							Mostrar reuso do componente <strong>contact</strong> no repeat e na modal
						</aside>
					</section>
					<section>
						<p><code>contacts.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contacts = {
  bindings: {
    contacts: '<',
    filter: '<'
  },
  templateUrl: './contacts.html',
  controller: 'ContactsController'
}

angular
  .module('components.contact')
  .component('contacts', contacts)
  .config(function ($stateProvider) {
    $stateProvider
      .state('contacts', {
        parent: 'app',
        url: '/contacts?filter',
        component: 'contacts',
        params: {
          filter: {
            value: 'none'
          }
        },
        resolve: {
          contacts: function (ContactService) {
            return ContactService.getContactList().$loaded()
          },
          filter: function ($transition$) {
            return $transition$.params()
          }
        }
      })
  })
						</code></pre>
					</section>
					<section>
						<p><code>contacts.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactsController($filter, $state) {
  let ctrl = this
  let filtrate = () => {
    return $filter('contactsFilter')(ctrl.contacts, ctrl.filter)
  }
  ctrl.$onInit = () => {
    ctrl.contacts.$watch(() => {
      ctrl.filteredContacts = filtrate()
    })
    ctrl.filteredContacts = filtrate()
  }
  ctrl.updateSearch = event => {
    ctrl.search = event.search
  }
  ctrl.openModalContact = event => {
    ctrl.contactView = event.contact
    $('#modalContact').modal('show')
  }
  ctrl.goToContact = event => {
    $state.go('contact', {
      id: event.contactId
    })
  }
}

angular
  .module('components.contact')
  .controller('ContactsController', ContactsController)
						</code></pre>
					</section>
					<section>
						<p><code>contacts.filter.js</code></p>
						<pre><code class="javascript" data-trim>
function contactsFilter() {
  return (collection, params) => {
    return collection.filter(item => {
      return item.tag.state === (
        params.filter === 'none' ? item.tag.state : params.filter
      )
    })
  }
}

angular
  .module('components.contact')
  .filter('contactsFilter', contactsFilter)
						</code></pre>
					</section>
					<section>
						<h1>App</h1>
					</section>
					<section>
						<p><code>index.html</code></p>
						<pre><code class="html" data-trim>
&lt;!doctype html&gt;
&lt;html ng-app="root"&gt;
  &lt;head&gt;
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda de contatos</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
  &lt;/head&gt;
  &lt;body&gt;
    <root>
      <span class="loader">Carregando...</span>
    </root>
    <script src="js/vendor.js"></script>
    <script src="js/bundle.js"></script>
  &lt;/body&gt;
&lt;/html&gt;
						</code></pre>
					</section>
					<section>
						<p><code>root.html</code></p>
						<pre><code class="html" data-trim>
<div ui-view></div>
						</code></pre>
					</section>
					<section>
						<p><code>root.component.js</code></p>
						<pre><code class="javascript" data-trim>
let root = {
  templateUrl: './root.html'
}

angular
  .module('root')
  .component('root', root)
						</code></pre>
					</section>
					<section>
						<p><code>app.html</code></p>
						<pre><code class="html" data-trim>
<app-nav user="$ctrl.user" on-logout="$ctrl.logout();"></app-nav>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-9">
      <div ui-view></div>
    </div>
    <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
						</code></pre>
						<aside class="notes">
							Apontar uso da app-nav e app-sidebar
						</aside>
					</section>
					<section>
						<p><code>app-nav.html</code></p>
						<pre><code class="html" data-trim>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="contacts({filter: none})" class="navbar-brand">Agenda de contatos</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="new">
            <i class="glyphicon glyphicon-plus"></i>
            Novo contato
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i>
            <span ng-bind="$ctrl.user.email"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="" ng-click="$ctrl.onLogout()">
                <i class="glyphicon glyphicon-log-out"></i>
                Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<a class="btn btn-success btn-lg float" ng-click="$ctrl.offcanvas()">
  <i class="glyphicon glyphicon-list-alt"></i>
  <i class="glyphicon glyphicon-resize-horizontal"></i>
</a>
						</code></pre>
					</section>
					<section>
						<p><code>app-sidebar.html</code></p>
						<pre><code class="html" data-trim>
<aside class="panel panel-default">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-tag"></i>
    Etiquetas
  </div>
  <contact-tags
    class="tags"
    contact-tags="$ctrl.contactTags"
    on-select="$ctrl.selectTag($event)">
  </contact-tags>
  <div class="panel-body">
    <contact-tag-detail
      tag="$ctrl.tag"
      on-save="$ctrl.createNewTag($event)"
      on-delete="$ctrl.deleteTag($event)"
      on-update="$ctrl.updateTag($event)">
    </contact-tag-detail>
  </div>
</aside>
						</code></pre>
					</section>
					<section style="font-size: 2.4em">
						<p>Serverless</p>
						<img src="img/firebase.svg" style="max-width: 30%; margin: 0 -0.5em 0 -1.2em; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
						Firebase
					</section>
					<section>
						<p><code>contacts.service.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactService(AuthService, $firebaseRef, $firebaseArray, $firebaseObject) {
  let ref = $firebaseRef.contacts
  let uid = AuthService.getUser().uid
  return {
    createNewContact: function (contact) {
      return $firebaseArray(ref.child(uid)).$add(contact)
    },
    getContactById: function (id) {
      return $firebaseObject(ref.child(uid).child(id))
    },
    getContactList: function () {
      return $firebaseArray(ref.child(uid))
    },
    updateContact: function (contact) {
      return contact.$save()
    },
    deleteContact: function (contact) {
      return contact.$remove()
    }
  }
}

angular
  .module('components.contact')
  .factory('ContactService', ContactService)
						</code></pre>
					</section>
					<section>
						<h3>Legal, vamos ver funcionando...</h3>
						<a href="http://localhost:4000/" target="_blank">Demonstração</a>
            <br>
            <br>
            <a href="http://guiseek.js.org/contacts-schedule/public"><small>guiseek.js.org/contacts-schedule/public</small></a>
						<!--<a href="http://guiseek.js.org/contacts-schedule/public/" target="_blank">Demonstração</a>-->
					</section>
				</section>
				<section>
					<section>
						<h3>Entenderam ? ! ?</h3>
						<h2>
							<img src="img/duvidas.png" style="border: 0; max-width: 30%; box-shadow: none; vertical-align: middle; margin-right: 5%" alt="">
							Dúvidas?
						</h2>
					</section>
					<section>
						<div style="text-align: left">
							<h3>Como me encontrar?</h3>
							<p>
								<img src="img/github.svg" style="border: 0; max-width: 10%; box-shadow: none; vertical-align: middle; margin-right: 5%">
								<a href="https://github.com/guiseek">https://github.com/guiseek</a>
							</p>
							<p>
								<img src="img/facebook.svg" style="border: 0; max-width: 10%; box-shadow: none; vertical-align: middle; margin-right: 5%">
								<a href="https://www.facebook.com/guiseek">https://www.facebook.com/guiseek</a>
							</p>
							<p>
								<img src="img/gmail.svg" style="border: 0; max-width: 10%; box-shadow: none; vertical-align: middle; margin-right: 5%">
								<a href="guiseek@gmail.com">guiseek@gmail.com</a>
							</p>
							<p>
								<img src="img/whatsapp.svg" style="border: 0; max-width: 10%; box-shadow: none; vertical-align: middle; margin-right: 5%">
								<a href="tel:44 99840 2726">44 99840 2726</a>
							</p>
						</div>
					</section>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
