<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Arquitetura Orientada a Componentes com AngularJS</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Arquitetura Orientada a Componentes</h2>
					<a href="http://guiseek.js.org">@guiseek</a>
				</section>
				<section>
					<section>
						<h1>Components</h1>
					</section>
					<section>
						<p>Component-based software engineering (<strong>CBSE</strong>)</p>
						<p>Component-based development (<strong>CBD</strong>)</p>
						<p>Event-driven architectures (<strong>EDA</strong>)</p>
						<aside class="notes">
              Citada a primeira vez por Malcolm Douglas McIlroy na NATO Conf, em 1968, na talk Mass Produced Software Components (Componentes de software produzidos em massa).
						</aside>
					</section>
          <section>
            <h4>Malcolm Douglas McIlroy</h4>
            <img src="img/mcilroy.jpeg" alt="">
          </section>
          <section>
            <h3>Primeira implementação</h3>
            <p>No <strong>Unix</strong> como <strong>Pipelines</strong></p>
						<aside class="notes">
							<ol>
								<li>
                  Sequência de processos encadeados.
								</li>
								<li>
                  Cada saída de processo alimenta a entrada para o próximo.
								</li>
							</ol>
						</aside>
          </section>
				</section>
        <section>
          <section>
            <h1>Web Components</h1>
            <a href="https://www.webcomponents.org/">
  						<img src="img/web-components.svg" style="border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
            </a>
          </section>
          <section>
            <h3>O termo <strong>Web Components</strong></h3>
          </section>
          <section>
            <h4>Lembram do <strong>Ajax</strong>?!</h4>
            <img src="img/lego-resources.svg" style="max-width: 30%; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
            <p>AJAX = <strong>A</strong>synchronous <strong>J</strong>avaScript <strong>A</strong>nd <strong>X</strong>ML</p>
            <aside class="notes">
              Coleção de recursos que, quando utilizados juntos permitem a criação de componentes reutilizáveis.
            </aside>
          </section>
          <section>
            <h1>Por que usar?!</h1>
						<img src="img/advantage.svg" style="max-width: 30%; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
          </section>
					<section>
						<h3>Reuso</h3>
						<img src="img/recycle-file.svg" style="max-width: 30%; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
						<aside class="notes">
              Reuso de código e tempo.
              <br>
							Benefícios de curto e longo prazo para o software e organizações que o patrocinam.
						</aside>
					</section>
					<section>
						<h4>Divisão de responsabilidades</h4>
            <img src="img/responsibility.svg" style="max-width: 30%; border:0; background-color: transparent; vertical-align: middle; box-shadow: none" alt="Separação de responsabilidades">
            <aside class="notes">
							Abordagem baseada na reutilização para definir, implementar e compor componentes independentes ligeiramente acoplados.
            </aside>
					</section>
					<section>
            <h3>Camadas</h3>
						<img src="img/layers.svg" style="max-width: 30%; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
          </section>
					<section>
						<ul>
							<li>
								Templates
							</li>
							<li>
								Decorators
							</li>
							<li>
								Custom elements
							</li>
							<li>
								Shadow DOM
							</li>
							<li>
								Imports
							</li>
						</ul>
					</section>
					<section>
						<h2>Templates</h2>
						<aside class="notes">
							View (HTML e CSS) e lógica de integração.
						</aside>
					</section>
					<section>
						<h2>Decorators</h2>
						<aside class="notes">
							Comportamento individual, estático ou visual, sem afetar comportamentos de outros elementos.
						</aside>
					</section>
					<section>
						<h2>Custom elements</h2>
						<aside class="notes">
							Nomes e scripts criados pelo desenvolvedor.
						</aside>
					</section>
					<section>
						<h2>Shadow DOM</h2>
						<aside class="notes">
							Parte do código encapsulada e escondida pelo navegador.
						</aside>
					</section>
					<section>
						<h2>Imports</h2>
						<aside class="notes">
							Custom elements empacotados e lidos como recurso.
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>AngularJS</h2>
            <div>
              <a href="https://docs.angularjs.org">
                <img src="img/angularjs.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent">
              </a>
            </div>
					</section>
					<section>
            <h3>HyperText Markup Language</h3>
            <img src="img/html5.svg" style="border: 0; box-shadow: none; max-width: 20%; background-color: transparent">
            <h4>Vamos voltar um pouco...</h4>
					</section>
					<section>
            <h3>TAGS</h3>
            <img src="img/tags.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent">
					</section>
					<section>
            <ul>
              <li>Palavras entre parênteses <i>angulares</i></li>
              <li>Marcação semântica</li>
              <li>Hierarquia de elementos</li>
              <li>Atributos e valores</li>
            </ul>
					</section>
					<section>
						<h4>Exemplo</h4>
						<pre><code class="html" data-trim data-noescape>
...
&lt;body>
  &lt;header>&lt;/header>
  &lt;nav>&lt;/nav>
  &lt;main>
    &lt;section>
      &lt;article>&lt;/article>
    &lt;/section>
    &lt;aside>
    &lt;/aside>
  &lt;/main>
&lt;/body>
...					</code></pre>
					</section>
					<section>
						<p>Imagine uma tag <strong>HTML</strong> que contemple todo um contexto de busca?!</p>
						<pre><code class="html">
<search search="..."> </search>
						</code></pre>
            <img src="img/search.png" style="border: 0; box-shadow: none; background-color: transparent">
					</section>
					<section>
            <h4>É aí que entra o <i>AngularJS</i> com <strong>componentes</strong> desenvolvidos por nós mesmos...</h4>
					</section>
          <section>
            <h3><strong>HTML</strong> aprimorado para aplicativos da web <strong>!</strong></h3>
            <p>Permite estender elementos <strong>HTML</strong> para a sua aplicação. O resultado é expressivo, legível e rápido para se desenvolver.</p>
            <aside class="notes">
              Ótimo para declarar documentos estáticos, mas vacila quando tentamos usá-lo para declarar visualizações dinâmicas em aplicações web.
            </aside>
          </section>
          <section>
            <h3>Características</h3>
            <h4><strong>SPA</strong> <i>(Single Page Application)</i></h4>
            <p>Aplicações inteiramente contidas no browser que não precisam fazer requisições de novas páginas no servidor.</p>
          </section>
          <section>
            <h3>Camadas</h3>
            <ul>
              <li><strong>Component</strong></li>
              <li class="fragment">Directive</li>
              <li class="fragment">Controller</li>
              <li class="fragment">Factory</li>
              <li class="fragment">Service</li>
              <li class="fragment">Filter</li>
              <li class="fragment">Provider</li>
              <li class="fragment">Decorator</li>
            </ul>
            <aside class="notes">
              <ul>
                <li>Provider: Objetos são instanciados e conectados automaticamente pelo serviço de injeção.</li>
                <li>Decorator: Design pattern usado pra separar alterações sem modificação o código original.</li>
              </ul>
            </aside>
          </section>
				</section>
				<section>
					<section>
						<h2>AngularJS .Component</h2>
            <div>
              <a href="https://docs.angularjs.org/guide/component">
                <img src="img/angularjs-component.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent">
              </a>
            </div>
					</section>
					<section>
						<h3>Compreendendo</h3>
            <img src="img/lego-component.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent" alt="Lego component">
            <p>
              Pense como se fosse uma peça da aplicação.
            </p>
						<aside class="notes">
  						Configuração simples e adequada para uma estrutura baseada em componentes.
              <br>
              Facilita a escrita de uma aplicação de forma semelhante à utilização de Web Components.
						</aside>
					</section>
					<section>
						<h3>Criando e configurando</h3>
						<p>
							Registrado usando o método <code>.component()</code> retornado de <code>angular.module()</code>
						</p>
						<h4>Este requer 2 argumentos:</h4>
            <p>
              O nome (<code>string</code>) e configuração (<code>object</code>)
            </p>
					</section>
					<section>
						<h4>Component</h4>
						<pre><code class="javascript" data-trim>
let search = {
  bindings: {
    search: '<',
    onUpdate: '&',
    onClear: '&'
  },
  templateUrl: './search.html',
  controller: 'SearchController'
}

angular
  .module('components.search')
  .component('search', search)
						</code></pre>
					</section>
					<section>
						<h4>Template</h4>
						<pre><code class="html" data-trim  data-noescape>
&lt;div class="navbar">
  &lt;div class="input-group">
    &lt;span class="input-group-addon" id="search">
      &lt;i class="glyphicon glyphicon-search">&lt;/i>
    &lt;/span>
    &lt;input
      ng-change="$ctrl.updateSearch()"
      ng-model="$ctrl.search"
      type="text"
      class="form-control"
      placeholder="Buscar...">
    &lt;span class="input-group-btn">
      &lt;button
        ng-click="$ctrl.clear()"
        ng-disabled="!$ctrl.search.length"
        type="button"
        class="btn btn-default">
        &lt;i class="glyphicon glyphicon-remove" ng-class="{'text-warning': $ctrl.search.length}">&lt;/i>
      &lt;/button>
    &lt;/span>
  &lt;/div>
&lt;/div>
						</code></pre>
					</section>
					<section>
						<h4>Controller</h4>
						<pre><code class="javascript" data-trim>
function SearchController() {
  let ctrl = this
  ctrl.updateSearch = () => {
    ctrl.onUpdate({ $event: { search: ctrl.search } })
  }
  ctrl.clear = () => {
    ctrl.onClear({ $event: { search: '' } })
  }
}

angular
  .module('components.search')
  .controller('SearchController', SearchController)
						</code></pre>
					</section>
					<section>
						<h4>Usando</h4>
						<pre><code class="html" data-trim data-noescape>
&lt;search
  search="$ctrl.search"
  on-update="$ctrl.updateSearch($event)"
  on-clear="$ctrl.updateSearch($event)">
&lt;/search>
						</code></pre>
					</section>
					<section>
						<h4>Opções de configuração</h4>
						<table>
							<tbody>
								<tr>
									<td><code>bindings</code></td>
									<td>Ligação com o <code>controller</code></td>
								</tr>
								<tr>
									<td><code>controller</code></td>
									<td>Default: <code>function() {}</code></td>
								</tr>
								<tr>
									<td><code>controllerAs</code></td>
									<td>Default: <code>$ctrl</code></td>
								</tr>
								<tr>
									<td><code>template</code></td>
									<td>Injetável</td>
								</tr>
								<tr>
									<td><code>templateUrl</code></td>
									<td>Injetável</td>
								</tr>
								<tr>
									<td><code>transclude</code></td>
									<td>Default <code>false</code></td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<h4>Componentes controlam apenas <br> seus próprios dados e view</h4>
            <img src="img/control.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent" alt="Component control">
						<aside class="notes">
							Nunca devem modificar quaisquer dados ou DOM que estejam fora do seu âmbito.
              <br>
							Para isso funcionar, o escopo é isolado.
						</aside>
					</section>
					<section>
						<h4>Entradas e saídas <code>(bindings)</code></h4>
						<table>
							<tbody>
								<tr>
									<td><code>{prop: '='}</code></td>
									<td>Ligação bidirecional</td>
								</tr>
								<tr>
									<td><code>{prop: '<'}</code></td>
									<td>Ligação unidirecional</td>
								</tr>
								<tr>
									<td><code>{prop: '@'}</code></td>
									<td>Sem ligação</td>
								</tr>
								<tr>
									<td><code>{prop: '&'}</code></td>
									<td>Evento de saída</td>
								</tr>
							</tbody>
						</table>
						<aside class="notes">
              Podemos controlar entradas e saídas com as opções que estamos vendo.
						</aside>
					</section>
					<section>
						<h3>Ciclo de vida</h3>
						<img src="img/lifecycle.svg" style="max-width: 30%; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
						<aside class="notes">
							Eventos / Gatilhos / Ganchos
              <br>
              Ajudantes que mantém o componente vivo e se atualizando com as alterações.
						</aside>
					</section>
          <section>
            <table>
              <tr>
                <th>#</th>
                <th>Web Component</th>
                <th>AngularJS Component</th>
              </tr>
              <tr>
                <td>1.</td>
                <td>
                  <code>createdCallback</code>
                </td>
                <td>
                  <code>$onInit</code>
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>
                  <code>attachedCallback</code>
                </td>
                <td>
                  <code>$postLink</code>
                </td>
              </tr>
              <tr>
                <td>3.</td>
                <td>
                  <code>attributeChangedCallback</code>
                </td>
                <td>
                  <code>$onChanges</code>, <code>$doCheck</code>
                </td>
              </tr>
              <tr>
                <td>4.</td>
                <td>
                  <code>detachedCallback</code>
                </td>
                <td>
                  <code>$onDestroy</code>
                </td>
              </tr>
            </table>
						<aside class="notes">
							<ol>
								<li>
									Instância é criada. | Código de inicialização
								</li>
								<li>
									Elemento é anexado ao DOM. | Elementos e seus filhos ligados, configurar manipuladores de DOM
								</li>
								<li>
									Atributo do elemento é alterado. | Ligações unidirecionais - Em cada ciclo digestivo. Bom para agir sobre mudanças
								</li>
								<li>
									4: elemento é removido do DOM. | Liberar recursos, timers e manipuladores de eventos
								</li>
							</ol>
						</aside>
          </section>
				</section>
				<section>
					<section>
						<h4>Aplicação orientada a componentes</h4>
            <img src="img/lego-app.svg" style="border: 0; box-shadow: none; max-width: 40%; background-color: transparent" alt="Component control">
					</section>
					<section>
						<h4>Componentes como <br> rotas e <strong>reuso</strong></h4>
            <img src="img/route.svg" style="border: 0; box-shadow: none; max-width: 30%; background-color: transparent" alt="Component control">
					</section>
					<section>
            <p>Autenticação</p>
            <img src="img/auth.png" alt="">
            <aside class="notes">
              <ul>
                <li>Auth: componente pai</li>
                <li>Login ou Register: troca dados e eventos com Auth Form</li>
                <li>Auth Form: reusado pra login ou register</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>auth.component.js</code></p>
						<pre><code class="javascript" data-trim>
let auth = {
  templateUrl: './auth.html'
}
angular
  .module('components.auth')
  .component('auth', auth)
  .config(function ($stateProvider, $urlRouterProvider) {
    $stateProvider
      .state('auth', {
        redirectTo: 'auth.login',
        url: '/auth',
        component: 'auth'
      })
    $urlRouterProvider.otherwise('/auth/login')
  })
						</code></pre>
					</section>
					<section>
						<p><code>auth.html</code></p>
						<pre><code class="html" data-trim>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div ui-view></div>
    </div>
  </div>
</div>
						</code></pre>
					</section>
					<section>
            <p>Login</p>
            <img src="img/auth-login.png" alt="">
            <aside class="notes">
              <ul>
                <li>Envia dados caracteristicos de login para o auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>login.component.js</code></p>
						<pre><code class="javascript" data-trim>
let login = {
  templateUrl: './login.html',
  controller: 'LoginController'
}
angular
  .module('components.auth')
  .component('login', login)
  .config(function ($stateProvider, $urlRouterProvider) {
    $stateProvider
      .state('auth.login', {
        url: '/login',
        component: 'login'
      })
    $urlRouterProvider.otherwise('/auth/login')
  })
						</code></pre>
					</section>
          <section>
            <p><code>login.controller.js</code></p>
            <pre><code class="javascript" data-trim>
function LoginController(AuthService, $state) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.error = null
    ctrl.user = { email: '', password: '' }
  }
  ctrl.loginUser = event => {
    return AuthService.login(event.user)
      .then(() => $state.go('app'), reason => ctrl.error = reason.message)
  }
}
angular
  .module('components.auth')
  .controller('LoginController', LoginController)
            </code></pre>
          </section>
					<section>
						<p><code>login.html</code></p>
						<pre><code class="html" data-trim data-noscape>
&lt;h1>Acesso&lt;/h1>
&lt;auth-form
  user="$ctrl.user"
  message="{{ $ctrl.error }}"
  button="Acessar conta"
  reset="Limpar"
  on-submit="$ctrl.loginUser($event)">
&lt;/auth-form>
&lt;div class="alert alert-info">
  &lt;i class="glyphicon glyphicon-exclamation-sign">&lt;/i>
  &lt;a ui-sref="auth.register">
    Ainda não tem uma conta? Crie uma agora!
  &lt;/a>
&lt;/div>
            </code></pre>
					</section>
					<section>
            <p>Eventos de login</p>
            <img src="img/auth-login-events.png" alt="">
            <aside class="notes">
              <ul>
                <li>Troca de informações entre login e auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
            <p>Register</p>
            <img src="img/auth-register.png" alt="">
            <aside class="notes">
              <ul>
                <li>Envia dados caracteristicos de register para o auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>register.component.js</code></p>
						<pre><code class="javascript" data-trim>
let register = {
  templateUrl: './register.html',
  controller: 'RegisterController'
}
angular
  .module('components.auth')
  .component('register', register)
  .config(function ($stateProvider) {
    $stateProvider
      .state('auth.register', {
        url: '/register',
        component: 'register'
      })
  })
						</code></pre>
					</section>
          <section>
            <p><code>register.controller.js</code></p>
            <pre><code class="javascript" data-trim>
function RegisterController(AuthService, $state) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.error = null
    ctrl.user = { email: '', password: '' }
  }
  ctrl.createUser = event => {
    return AuthService.register(event.user)
      .then(() => $state.go('app'), reason => ctrl.error = reason.message)
  }
}
angular
  .module('components.auth')
  .controller('RegisterController', RegisterController)
            </code></pre>
          </section>
					<section>
						<p><code>register.html</code></p>
						<pre><code class="html" data-trim data-noscape>
&lt;h1>Cadastro&lt;/h1>
&lt;auth-form
  user="$ctrl.user"
  message="{{ $ctrl.error }}"
  reset="Limpar"
  button="Criar conta"
  on-submit="$ctrl.createUser($event)">
&lt;/auth-form>
&lt;div class="alert alert-info">
  &lt;i class="glyphicon glyphicon-exclamation-sign">&lt;/i>
  &lt;a ui-sref="auth.login">
    Já tem uma conta? Faça o login!
  &lt;/a>
&lt;/div>
            </code></pre>
					</section>
					<section>
            <p>Eventos de register</p>
            <img src="img/auth-register-events.png" alt="">
            <aside class="notes">
              <ul>
                <li>Troca de informações entre register e auth-form</li>
              </ul>
            </aside>
					</section>
					<section>
            <p>Auth form</p>
            <img src="img/auth-form.png" alt="">
            <aside class="notes">
              <ul>
                <li>Reusado pra login e register</li>
                <li>Apenas recebe entradas de customização e emite o evento de submit</li>
              </ul>
            </aside>
					</section>
					<section>
						<p><code>auth-form.component.js</code></p>
						<pre><code class="javascript" data-trim>
let authForm = {
  bindings: {
    user: '<',
    button: '@',
    reset: '@',
    message: '@',
    onSubmit: '&'
  },
  templateUrl: './auth-form.html',
  controller: 'AuthFormController'
}
angular
  .module('components.auth')
  .component('authForm', authForm)
						</code></pre>
					</section>
          <section>
            <p><code>auth-form.controller.js</code></p>
            <pre><code class="javascript" data-trim>
function AuthFormController() {
  let ctrl = this
  ctrl.$onChanges = changes => {
    if (changes.user) {
      ctrl.user = angular.copy(ctrl.user)
    }
  }
  ctrl.submitForm = () => {
    ctrl.onSubmit({
      $event: {
        user: ctrl.user
      }
    })
  }
}
angular
  .module('components.auth')
  .controller('AuthFormController', AuthFormController)
            </code></pre>
          </section>
					<section>
						<p><code>auth-form.html</code></p>
						<pre><code class="html" data-trim data-noscape>
&lt;form ng-submit="$ctrl.submitForm()" name="authForm" class="panel panel-default" novalidate>
  &lt;div class="panel-body">
    &lt;div ng-if="$ctrl.message" class="alert alert-danger">
      {{ $ctrl.message }}
    &lt;/div>
    &lt;div class="form-group">
      &lt;label for="email">Email&lt;/label>
      &lt;input
        ng-model="$ctrl.user.email"
        type="email"
        name="email"
        id="email"
        class="form-control"
        autocomplete="off"
        required>
    &lt;/div>
    &lt;div class="form-group">
      &lt;label for="password">Senha&lt;/label>
      &lt;input
        ng-model="$ctrl.user.password"
        type="password"
        name="password"
        id="password"
        class="form-control"
        minlength="6"
        required>
    &lt;/div>
    &lt;div class="text-right">
      &lt;button class="btn btn-warning" type="reset">
        &lt;i class="glyphicon glyphicon-remove">&lt;/i>
        {{ $ctrl.reset }}
      &lt;/button>
      &lt;button class="btn btn-info" type="submit" ng-disabled="authForm.$invalid">
        &lt;i class="glyphicon glyphicon-ok">&lt;/i>
        {{ $ctrl.button }}
      &lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/form>
						</code></pre>
					</section>
          <section>
            <h4>Estrutura da aplicação</h4>
            <ul>
              <li>app</li>
              <li>app-nav</li>
              <li>app-sidebar</li>
            </ul>
            <aside class="notes">
              Vamos ver como isso ficaria na tela.
            </aside>
          </section>
					<section>
            <p>Estrutura da aplicação</p>
            <img src="img/app.png" alt="App">
						<aside class="notes">
              ui-view: diretiva de roteamento para troca de componentes / páginas.
						</aside>
					</section>
					<section>
						<p><code>app.html</code></p>
						<pre><code class="html" data-trim>
<app-nav user="$ctrl.user" on-logout="$ctrl.logout()"></app-nav>
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-9">
      <div ui-view></div>
    </div>
    <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
						</code></pre>
						<aside class="notes">
							Apontar uso da app-nav e app-sidebar
						</aside>
					</section>
					<section>
            <h4>Componentes</h4>
            <ul>
              <li>auth</li>
              <li>search</li>
              <li>contacts</li>
              <li>contact</li>
              <li>...</li>
            </ul>
					</section>
					<section>
						<p>Contacts</p>
						<img src="img/app-lg.png" alt="">
					</section>
					<section>
						<p><code>contacts.html</code></p>
						<pre><code class="html" data-trim>
<search
  search="$ctrl.search"
  on-update="$ctrl.updateSearch($event)"
  on-clear="$ctrl.updateSearch($event)">
</search>
<div class="row" ng-if="$ctrl.filteredContacts.length">
  <div class="col-md-3" ng-repeat="contact in $ctrl.filteredContacts | filter: $ctrl.search">
    <contact
      contact="contact"
      content="half"
      on-select="$ctrl.goToContact($event)"
      on-open="$ctrl.openModalContact($event)">
    </contact>
  </div>
</div>
<div
  class="alert alert-warning"
  ng-if="!$ctrl.filteredContacts.length">
  <i class="glyphicon glyphicon-alert"></i>
  Nenhum contato foi marcado com esta etiqueta ainda...
</div>
<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContact" data-backdrop="false">
  <div class="modal-dialog modal-md" role="document">
    <contact
      contact="$ctrl.contactView"
      content="full"
      on-select="$ctrl.goToContact($event)">
    </contact>
    <div class="text-center">
      <button type="button" class="modal-close btn btn-default pull-right" data-dismiss="modal" aria-label="Close">
        <i class="glyphicon glyphicon-remove text-warning"></i>
      </button>
    </div>
  </div>
</div>
						</code></pre>
						<aside class="notes">
							Mostrar reuso do componente <strong>contact</strong> no repeat e na modal
						</aside>
					</section>
					<section>
						<p><code>contacts.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contacts = {
  bindings: {
    contacts: '<',
    filter: '<'
  },
  templateUrl: './contacts.html',
  controller: 'ContactsController'
}
angular
  .module('components.contact')
  .component('contacts', contacts)
  .config(function ($stateProvider) {
    $stateProvider
      .state('contacts', {
        parent: 'app',
        url: '/contacts?filter',
        component: 'contacts',
        params: {
          filter: {
            value: 'none'
          }
        },
        resolve: {
          contacts: function (ContactService) {
            return ContactService.getContactList().$loaded()
          },
          filter: function ($transition$) {
            return $transition$.params()
          }
        }
      })
  })
						</code></pre>
					</section>
					<section>
						<p><code>contacts.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactsController($filter, $state) {
  let ctrl = this
  let filtrate = () => {
    return $filter('contactsFilter')(ctrl.contacts, ctrl.filter)
  }
  ctrl.$onInit = () => {
    ctrl.contacts.$watch(() => {
      ctrl.filteredContacts = filtrate()
    })
    ctrl.filteredContacts = filtrate()
  }
  ctrl.updateSearch = event => {
    ctrl.search = event.search
  }
  ctrl.openModalContact = event => {
    ctrl.contactView = event.contact
    $('#modalContact').modal('show')
  }
  ctrl.goToContact = event => {
    $state.go('contact', {
      id: event.contactId
    })
  }
}
angular
  .module('components.contact')
  .controller('ContactsController', ContactsController)
						</code></pre>
					</section>
					<section>
            <p>Search e contacts</p>
            <img src="img/contacts.png" alt="">
					</section>
					<section>
            <p>Eventos entre search e contacts</p>
            <img src="img/contacts-events.png" alt="">
					</section>
					<section>
            <p>Como acontece...</p>
            <video autoplay loop>
              <source data-src="video/search.mov" type="video/mp4" />
            </video>
					</section>
					<section>
						<p>Novo contato</p>
						<img src="img/contact-new-component.png" alt="">
					</section>
					<section>
						<p><code>contact-new.html</code></p>
						<pre><code class="html" data-trim data-noscape>
&lt;contact-detail
  contact="$ctrl.contact"
  on-save="$ctrl.createNewContact($event)">
&lt;/contact-detail>
						</code></pre>
					</section>
					<section>
						<p><code>contact-new.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contactNew = {
  templateUrl: './contact-new.html',
  controller: 'ContactNewController'
}
angular
  .module('components.contact')
  .component('contactNew', contactNew)
  .config(function ($stateProvider) {
    $stateProvider
      .state('new', {
        parent: 'app',
        url: '/new',
        component: 'contactNew'
      })
  })
						</code></pre>
					</section>
					<section>
						<p><code>contact-new.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactNewController(ContactService, $state) {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.contact = { ... }
  }
  ctrl.createNewContact = event => {
    return ContactService
      .createNewContact(event.contact)
      .then(contact => $state.go('contact', { id: contact.key }))
  }
}
angular
  .module('components.contact')
  .controller('ContactNewController', ContactNewController)
						</code></pre>
					</section>
					<section>
						<p>Editar contato</p>
						<img src="img/contact-edit-component.png" alt="">
					</section>
					<section>
						<p><code>contact-edit.html</code></p>
						<pre><code class="html" data-trim data-noscape>
&lt;contact-detail
  contact="$ctrl.contact"
  on-delete="$ctrl.deleteContact($event)"
  on-update="$ctrl.updateContact($event)">
&lt;/contact-detail>
						</code></pre>
					</section>
					<section>
						<p><code>contact-edit.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contactEdit = {
  bindings: {
    contact: '<'
  },
  templateUrl: './contact-edit.html',
  controller: 'ContactEditController'
}
angular
  .module('components.contact')
  .component('contactEdit', contactEdit)
  .config(function ($stateProvider) {
    $stateProvider
      .state('contact', {
        parent: 'app',
        url: '/contact/:id',
        component: 'contactEdit',
        resolve: {
          contact: function ($transition$, ContactService) {
            let key = $transition$.params().id;
            return ContactService.getContactById(key).$loaded();
          }
        }
      })
  })
						</code></pre>
					</section>
					<section>
						<p><code>contact-edit.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactEditController($state, ContactService, $window) {
  let ctrl = this
  ctrl.updateContact = event => {
    return ContactService
      .updateContact(event.contact)
  }
  ctrl.deleteContact = event => {
    let message = `Apagar ${event.contact.name} dos seus contatos?`
    if ($window.confirm(message)) {
      return ContactService.deleteContact(event.contact)
        .then(() => $state.go('contacts'))
    }
  }
}
angular
  .module('components.contact')
  .controller('ContactEditController', ContactEditController)
						</code></pre>
					</section>
					<section>
						<p>Detalhes do contato</p>
						<table>
							<tbody>
								<tr>
									<td>
										<p style="text-align: center">novo</p>
										<img src="img/contact-new-component.png" alt="">
									</td>
									<td>
										<p style="text-align: center">editar</p>
										<img src="img/contact-edit-component.png" alt="">
									</td>
								</tr>
							</tbody>
						</table>
						<p style="text-align: center"><strong>Reuso</strong> de <code>contact-detail</code> em new e edit</p>
            <aside class="notes">
              Mesmo caso do login e register com auth-form
            </aside>
					</section>
					<section>
						<p><code>contact-detail.html</code></p>
						<pre><code class="html" data-trim data-noescape>
&lt;div class="contact">
  &lt;form name="contactDetailForm" novalidate>
    &lt;div class="row">
      &lt;div class="col-md-12">
        &lt;div class="alert alert-info">
          &lt;i class="glyphicon glyphicon-alert">&lt;/i>
          Os campos obrigatórios estão marcados em amarelo.
        &lt;/div>
      &lt;/div>
    &lt;/div>
    &lt;div class="row">
      &lt;div class="col-md-12 navbar">
        &lt;contact-tag
          tag="$ctrl.contact.tag"
          on-change="$ctrl.tagChange($event)">
        &lt;/contact-tag>
      &lt;/div>
    &lt;/div>
    &lt;div class="row">
      &lt;div class="col-md-6">
        &lt;div
          class="form-group">
          &lt;label>
            Nome
          &lt;/label>
          &lt;input
            type="text"
            name="name"
            class="form-control"
            minlength="8"
            required
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.name">
        &lt;/div>
        &lt;div
          class="form-group">
          &lt;label>
            Telefone
          &lt;/label>
          &lt;input
            type="tel"
            name="phone"
            class="form-control"
            minlength="8"
            required
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.phone">
        &lt;/div>
        &lt;div
          class="form-group">
          &lt;label>
            Email
          &lt;/label>
          &lt;input
            type="email"
            name="email"
            class="form-control"
            required
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.email">
        &lt;/div>
        &lt;div class="form-group">
          &lt;label>
            Profissão
          &lt;/label>
          &lt;input
            type="text"
            name="jobTitle"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.job">
        &lt;/div>
        &lt;div class="form-group">
          &lt;label>
            Endereço
          &lt;/label>
          &lt;input
            type="text"
            name="location"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.location">
        &lt;/div>
      &lt;/div>
      &lt;div class="col-md-6">
        &lt;div class="form-group">
          &lt;label>
            Facebook
          &lt;/label>
          &lt;input
            type="url"
            name="facebook"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.facebook">
        &lt;/div>
        &lt;div class="form-group">
          &lt;label>
            Google+
          &lt;/label>
          &lt;input
            type="url"
            name="google"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.google">
        &lt;/div>
        &lt;div class="form-group">
          &lt;label>
            GitHub
          &lt;/label>
          &lt;input
            type="url"
            name="github"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.github">
        &lt;/div>
        &lt;div class="form-group">
          &lt;label>
            Twitter
          &lt;/label>
          &lt;input
            type="url"
            name="twitter"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.twitter">
        &lt;/div>
        &lt;div class="form-group">
          &lt;label>
            LinkedIn
          &lt;/label>
          &lt;input
            type="url"
            name="linkedin"
            class="form-control"
            ng-change="$ctrl.updateContact()"
            ng-model-options="{
              'updateOn': 'default blur',
              'debounce': {
                'default': 250,
                'blur': 0
              }
            }"
            ng-model="$ctrl.contact.social.linkedin">
        &lt;/div>
      &lt;/div>
    &lt;/div>
    &lt;div class="row">
      &lt;div class="col-md-12 navbar text-right">
        &lt;button class="btn btn-warning" type="reset">
          &lt;i class="glyphicon glyphicon-remove">&lt;/i>
          Limpar
        &lt;/button>
        &lt;button
          ng-if="$ctrl.isNewContact"
          class="btn btn-success"
          ng-disabled="contactDetailForm.$invalid"
          ng-click="$ctrl.saveContact()">
          &lt;i class="fa fa-check">&lt;/i>
          Salvar contato
        &lt;/button>
        &lt;button
          ng-if="!$ctrl.isNewContact"
          class="btn btn-danger"
          ng-click="$ctrl.deleteContact()">
          &lt;i class="fa fa-trash-o">&lt;/i>
          Apagar contato
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/form>
&lt;/div>
						</code></pre>
						<aside class="notes">
							Explicar o ng-if nos botões para comparação de new ou edit
						</aside>
					</section>
					<section>
						<p><code>contact-detail.component.js</code></p>
						<pre><code class="javascript" data-trim>
let contactDetail = {
  bindings: {
    contact: '<',
    onSave: '&',
    onUpdate: '&',
    onDelete: '&'
  },
  templateUrl: './contact-detail.html',
  controller: 'ContactDetailController'
}
angular
  .module('components.contact')
  .component('contactDetail', contactDetail)
						</code></pre>
					</section>
					<section>
						<p><code>contact-detail.controller.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactDetailController() {
  let ctrl = this
  ctrl.$onInit = () => {
    ctrl.isNewContact = !ctrl.contact.$id
  }
  ctrl.saveContact = () => {
    ctrl.onSave({ $event: { contact: ctrl.contact } })
  }
  ctrl.updateContact = () => {
    ctrl.onUpdate({ $event: { contact: ctrl.contact } })
  }
  ctrl.deleteContact = () => {
    ctrl.onDelete({ $event: { contact: ctrl.contact } })
  }
  ctrl.tagChange = event => {
    ctrl.contact.tag = event.tag
    ctrl.updateContact()
  }
}
angular
  .module('components.contact')
  .controller('ContactDetailController', ContactDetailController)
						</code></pre>
					</section>
					<section style="font-size: 2.4em">
						<p>Serverless</p>
						<img src="img/firebase.svg" style="max-width: 30%; margin: 0 -0.5em 0 -1.2em; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
						Firebase
					</section>
					<section>
						<p><code>contacts.service.js</code></p>
						<pre><code class="javascript" data-trim>
function ContactService(AuthService, $firebaseRef, $firebaseArray, $firebaseObject) {
  let ref = $firebaseRef.contacts
  let uid = AuthService.getUser().uid
  return {
    createNewContact: function (contact) {
      return $firebaseArray(ref.child(uid)).$add(contact)
    },
    getContactById: function (id) {
      return $firebaseObject(ref.child(uid).child(id))
    },
    getContactList: function () {
      return $firebaseArray(ref.child(uid))
    },
    updateContact: function (contact) {
      return contact.$save()
    },
    deleteContact: function (contact) {
      return contact.$remove()
    }
  }
}
angular
  .module('components.contact')
  .factory('ContactService', ContactService)
						</code></pre>
					</section>
				</section>
        <!--<section>
          <section>
            <h2>Vida real</h2>
            <img src="img/tools.svg" style="max-width: 20%; margin: 0 -0.5em 0 -1.2em; border:0; background-color: transparent; vertical-align: middle; box-shadow: none">
            <h4>E no mercado?!</h4>
          </section>
          <section>
            <p>Trabalho com componentes <strong>AngularJS</strong> desde 2015 até agora na <a href="https://www.gumga.com.br/">Gumga Tecnologia da Informação S/A</a>.</p>
            <h4>Todos <strong>open source</strong> em nosso <a href="https://github.com/GUMGA">Github</a>.</h4>
            <p>Para mais de 10 empresas de Maringá e região.</p>
          </section>
        </section>-->
        <section>
					<section>
						<h3>Legal, vamos ver funcionando...</h3>
						<a href="http://localhost:4000/" target="_blank">Demonstração</a>
            <br>
            <br>
            <a href="http://guiseek.js.org/contacts-schedule/public"><small>guiseek.js.org/contacts-schedule/public</small></a>
						<!--<a href="http://guiseek.js.org/contacts-schedule/public/" target="_blank">Demonstração</a>-->
					</section>
				</section>
				<section>
					<section>
						<h3>Entenderam ? ! ?</h3>
						<h2>
							<img src="img/duvidas.png" style="border: 0; max-width: 30%; box-shadow: none; vertical-align: middle; margin-right: 5%" alt="">
							Dúvidas?
						</h2>
					</section>
					<section>
						<div style="text-align: left">
              <h4>FIM...</h4>
							<h5>Como me encontrar?</h5>
							<p>
								<img src="img/perfil.svg" style="border: 0; max-width: 5%; box-shadow: none; vertical-align: middle; margin-right: 2%">
								<a href="http://guiseek.js.org">http://guiseek.js.org</a>
							</p>
							<p>
								<img src="img/github.svg" style="border: 0; max-width: 4%; box-shadow: none; vertical-align: middle; margin-right: 3%">
								<a href="https://github.com/guiseek">https://github.com/guiseek</a>
							</p>
							<p>
								<img src="img/facebook.svg" style="border: 0; max-width: 4%; box-shadow: none; vertical-align: middle; margin-right: 3%">
								<a href="https://www.facebook.com/guiseek">https://www.facebook.com/guiseek</a>
							</p>
							<p>
								<img src="img/gmail.svg" style="border: 0; max-width: 4%; box-shadow: none; vertical-align: middle; margin-right: 3%">
								<a href="guiseek@gmail.com">guiseek@gmail.com</a>
							</p>
							<p>
								<img src="img/whatsapp.svg" style="border: 0; max-width: 4%; box-shadow: none; vertical-align: middle; margin-right: 3%">
								<a href="tel:44 99840 2726">44 99840 2726</a>
							</p>
						</div>
					</section>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				dependencies: [
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' }
				]
			});
		</script>
	</body>
</html>
